{% extends 'baseabc.html.twig' %}

{% block body %}
    <div id="detailsDialog" title="Servicio">
        <form id="detailsForm">
            <fieldset>
                <label>Servicio</label>
                <br>
                    <select id="selProducto" style="width: 27em;">
                        <option value="0">Ninguno</option>
                        {% for producto in productos  %}
                            <option id="optProducto{{ producto.id }}" value="{{ producto.id }}" pu="{{ producto.precio }}">{{ producto.nombre }}</option>
                        {% endfor %}
                    </select>
                <br>
                <br>
                <label>Descripción</label>
                <textarea name="txtConcepto" id="txtConcepto" value="" rows="4" cols="100" class="text ui-widget-content ui-corner-all"></textarea>
                <br>
                <br>
                <label for="txtPrecio">Precio Unitario</label>
                <input type="text" name="txtPrecio" id="txtPrecio" value="" class="text ui-widget-content ui-corner-all">
                <br>
                <label for="txtCantidad">Cantidad</label>
                <input type="text" name="txtCantidad" id="txtCantidad" value="" class="text ui-widget-content ui-corner-all">

                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <!--input type="submit" tabindex="-1" style="position:absolute; top:-1000px"-->
            </fieldset>
        </form>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

            {{ form_start(edit_form, {'attr': {'onsubmit': 'return datasubmit();'}} ) }}

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <label class="mdl-label">
                        {{ edit_form.cliente.vars.label }}
                    </label>
                    {{ form_widget(edit_form.cliente) }}
                    {{ form_errors(edit_form.cliente) }}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <label class="mdl-label">
                        {{ edit_form.contacto.vars.label }}
                    </label>
                    {{ form_widget(edit_form.contacto) }}
                    {{ form_errors(edit_form.contacto) }}
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div id="jsGrid"></div>
                    <script>
                        var items = [
                            {% for item in cotizacion.items %}
                            {
                                "Estado": "",
                                "Id":{{ item.id }},
                                "IdProducto":{% if item.producto %}{{ item.producto.id }}{% else %}0{% endif %},
                                "Concepto":"{{ item.descripcion | replace({"\n": " "}) }}",
                                "Cantidad":{{ item.cantidad }},
                                "Precio":{{ item.precio }},
                                "Subtotal":{{ item.cantidad * item.precio }}
                            },
                            {% endfor %}
                        ];

                        var itemsaux = [];
                        var itemsauxborrados = [];

                        $(function() {
                            var formSubmitHandler = $.noop;

                            var showDetailsDialog = function(operacion, concepto) {

                                if (operacion === "Add")
                                {
                                    $("#txtPrecio").val( $('#selProducto').find(":selected").attr('pu') );
                                    $("#selProducto" ).prop( "disabled", false );
                                    $("#selProducto" ).val(0);
                                    $('#selProducto').trigger('change');
                                }
                                else
                                {
                                    $("#selProducto").prop( "disabled", true );
                                    $("#selProducto" ).val(concepto.IdProducto);
                                    $('#selProducto').trigger('change');
                                }

                                $("#txtConcepto").val(concepto.Concepto);
                                $("#txtPrecio").val( concepto.Precio );
                                $("#txtCantidad").val(concepto.Cantidad);

                                formSubmitHandler = function() {
                                    saveConcepto(concepto, operacion === "Add");
                                };

                                $( "#detailsDialog" ).dialog("open");
                            };

                            var saveConcepto = function(concepto, isNew) {

                                var cantidad = parseInt($("#txtCantidad").val(), 10)
                                var precio = parseFloat($("#txtPrecio").val());
                                var estado = "N";

                                if (!isNew)
                                {
                                    estado = "A";
                                }

//                                alert(concepto.Concepto);

                                $.extend(concepto, {
                                    Estado: estado,
                                    IdProducto: parseInt($("#selProducto").val()),
                                    Concepto: $("#txtConcepto").val(),
                                    Cantidad: cantidad,
                                    Precio: precio,
                                    Subtotal: cantidad*precio
                                });

                                $("#jsGrid").jsGrid(isNew ? "insertItem" : "updateItem", concepto);

                                calcularTotales();
                            };

                            $("#jsGrid").jsGrid({
                                height: "auto",
                                width: "100%",
                                editing: true,
                                autoload: true,
                                paging: true,
                                noDataContent: "",
                                deleteConfirm: function(item) {
                                    return "¿Está seguro de quitar este elemento?"
                                },
                                onItemDeleted: function(args) {
                                    if (args.item.Estado != "N")
                                    {
                                        itemsauxborrados.push(args.item);
                                    }
                                    calcularTotales();
                                },
                                rowClick: function(args) {
                                    showDetailsDialog("Edit", args.item);
                                },
                                controller: items,
                                data: items,
                                fields: [
                                    {
                                        type: "control",
                                        modeSwitchButton: false,
                                        editButton: false,
                                        headerTemplate: function() {
                                            return $("<button>").attr("type", "button").text("+")
                                                    .on("click", function () {
                                                        showDetailsDialog("Add", {});
                                                        return false;
                                                    });
                                        }
                                    },

                                    { name: "IdProducto", title: "Servicio", type: "select", width: "9em", css: "textofila",
                                        items: [
                                            {% for producto in productos %}
                                            {
                                                "Id": {{ producto.id }},
                                                "Nombre": "{{ producto.nombre }}"
                                            },
                                            {% endfor %}
                                        ],
                                        valueField: "Id",
                                        textField: "Nombre"
                                    },
                                    { name: "Concepto", title: "Descripción", type: "text", width: "9em", css: "textofila" },
                                    { name: "Precio", type: "number", width: "4em", css: "textofila", itemTemplate: function(value) {
                                        return "$ " + value.toFixed(2); } },
                                    { name: "Cantidad", type: "number", width: "3em", css: "textofila" },
                                    { name: "Subtotal", type: "number", width: "6em", css: "textofila", itemTemplate: function(value) {
                                        return "$ " + value.toFixed(2); } },
                                ]
                            });
                            calcularTotales();

                            $("#detailsDialog").dialog({
                                autoOpen: false,
                                width: 400,
                                close: function() {
                                },
                                buttons: {
                                    "Guardar": addConcepto,
                                    "Cancelar": function() {
                                        $("#detailsDialog").dialog( "close" );
                                    }
                                }
                            });

                            function validarForm()
                            {
                                if (!checkRegexp($("#txtCantidad"), /^[1-9][0-9]*$/i ))
                                {
                                    alert("Cantidad inválida");
                                    return false;
                                }

                                var precio = $("#txtPrecio").val();
                                if  (precio.charAt(0) == '.') { $("#txtPrecio").val("0" + precio); }
                                if (!checkRegexp($("#txtPrecio"), /^(\d+)(\.\d{1,2})?$/i ))
                                {
                                    alert("Precio inválido");
                                    return false;
                                }

                                if (!checkRegexp($("#txtConcepto"), /^\w+/i) && $("#selProducto").val() == 0)
                                {
                                    alert("Seleccione un servicio o escriba su descripción.");
                                    return false;
                                }

                                return true;
                            }

                            function addConcepto() {
                                var valid = validarForm();
                                if ( valid ) {
                                    formSubmitHandler();
                                    $("#detailsDialog").dialog( "close" );
                                }
                                return valid;
                            }

                            function checkRegexp(o, regexp, n) {
                                if ( !( regexp.test( o.val() ) ) ) {
                                    return false;
                                } else {
                                    return true;
                                }
                            }

                            function calcularTotales()
                            {
                                var subtotal=0, iva=0, total=0;
                                var data = $("#jsGrid").jsGrid("option", "data");

                                for (var i = 0, len = data.length; i < len; i++) {
                                    subtotal += data[i].Subtotal;
                                }
                                iva = subtotal*0.16;
                                total = subtotal + iva;

                                $("#lblSubtotal").html(" $ " + subtotal.toFixed(2));

                                $("#lblIVA").html("  $ " + iva.toFixed(2));
                                $("#lblTotal").html("$ " + total.toFixed(2));
                            }
                        });

                    </script>
                    <style>
                        .textofila
                        {
                            font-size:0.8em;
                        }
                    </style>
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                        <i class="material-icons" style="vertical-align: middle;">insert_invitation</i>
                        <a style="color:darkgray;">
                            &nbsp;{{ edit_form.fechavalida.vars.label }}
                        </a>
                        {{ form_widget(edit_form.fechavalida) }}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                        <i class="material-icons" style="vertical-align: middle;">insert_invitation</i>
                        <a style="color:darkgray;">
                            &nbsp;{{ edit_form.fecha.vars.label }}
                        </a>
                        {{ form_widget(edit_form.fecha) }}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <b><label>Subtotal</label></b><br>
                    <b><label>IVA</label></b><br>
                    <b><label>Total</label></b>
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <label id="lblSubtotal">$ 0.00</label><br>
                    <label id="lblIVA">$ 0.00</label><br>
                    <label id="lblTotal">$ 0.00</label>
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <label class="mdl-label">
                        {{ edit_form.esquemapago.vars.label }}
                    </label>
                    <div class="select-style">
                        {{ form_widget(edit_form.esquemapago) }}
                    </div>
                    {{ form_errors(edit_form.esquemapago) }}
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col">
                        {{ form_widget(edit_form.tiempoentrega) }}
                        {{ form_label(edit_form.tiempoentrega) }}
                    </div>
                </div>
            </div>

            {{ form_widget(edit_form.itemsaux) }}

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Guardar</button>
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <a href="{{ path('cotizacion_index', {}) }}" class="mdl-button mdl-js-button mdl-button--raised" style="margin-left:1em">Cancelar</a>
                </div>
            </div>
            {{ form_end(edit_form) }}

            <div>
                {{ form_errors(edit_form.fechavalida) }}
                {{ form_errors(edit_form) }}
            </div>

        </div>
    </div>

    <script>
        $('form input').addClass('mdl-textfield__input')
        $('form textarea').addClass('mdl-textfield__input')

        $('.mdl-textfield label').addClass('mdl-textfield__label')

        var selectCliente = $("#appbundle_cotizacion_cliente");
        var selectContactos = $("#appbundle_cotizacion_contacto");

        $( "#appbundle_cotizacion_cliente" ).change(function() {

            var indexCliente = selectCliente.val();

            selectContactos.empty(); // remove old options
            selectContactos.append($("<option></option>").attr("value", "").text(""));

            if (indexCliente >= 0 && indexCliente != "") {
                mostrarProgreso(true);

                var url = 'http://' + window.location.hostname + '{{ path('contacto_index', {'idCliente':1000}) }}.json';
                url = url.replace('1000', indexCliente);

                $.ajax({
                    url: url, dataType: "json",
                    success: function (data) {

                        var index=0;
                        $.each(data, function (key, value) {
                            selectContactos.append($("<option></option>")
                                    .attr("value", data[index].id).text(data[index].nombre + " " + data[index].apellidos));
                            index++;
                        });

                        mostrarProgreso(false);

                        selectContactos.val(-1);
                    }
                });
            }
        });

        $("#selProducto" ).change(function() {
            var precio = $('#selProducto').find(":selected").attr('pu');
            $("#txtPrecio").val(precio);
        });

        $( function() {
            prepararCalendario($( "#appbundle_cotizacion_fechavalida" ));
            prepararCalendario($( "#appbundle_cotizacion_fecha" ));

            $('#appbundle_cotizacion_cliente').select2();
            $('#appbundle_cotizacion_contacto').select2();
            $('#selProducto').select2();
        } );
    </script>

    <script>
        function datasubmit()
        {
            if ($('#appbundle_cotizacion_fechavalida').val() == '')
            {
                alert('El campo fecha es obligatorio.');
                return false;
            }

            var data = $("#jsGrid").jsGrid("option", "data");
            if (data.length == 0) {
                alert('No ha sido agregado ningún elemento.');
                return false;
            }
            else
            {
                // 1. Nuevos
                var itemsauxnuevos = [];
                var itemsauxactualizados = [];

                for (i = 0; i < data.length; i++) {
                    var item = data[i];

                    if (item.Estado == "N")
                    {
                        itemsauxnuevos.push(item);
                    }
                    else if (item.Estado == "A")
                    {
                        itemsauxactualizados.push(item);
                    }
                }

                var json = JSON.stringify(itemsauxnuevos);
                $("#appbundle_cotizacion_itemsaux").val(json);

                json = JSON.stringify(itemsauxactualizados);
                $("#appbundle_cotizacion_itemsauxactualizados").val(json);

                json = JSON.stringify(itemsauxborrados);
                $("#appbundle_cotizacion_itemsauxborrados").val(json);
            }

            mostrarProgreso(true);

            return true;
        }

        function prepararCalendario(control)
        {
            control.datepicker({
                        defaultDate: new Date(),
                        dateFormat: "dd/mm/yy",
                        monthNames: [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ]
                    }
            );
        }
    </script>
{% endblock %}

{% block scriptsheader %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% javascripts '@FrameworkBundle/Resources/public/jsgrid/jsgrid.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@FrameworkBundle/Resources/public/jsgrid/jsgrid.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@FrameworkBundle/Resources/public/jsgrid/jsgrid-theme.min.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
{% endblock %}



