<span class="mdl-layout-title">Empresa</span>
<nav class="mdl-navigation">
    <!--a class="mdl-navigation__link" href="{{ path('panelprincipal_index') }}"><i class="material-icons mdl-navigation__item-icon">home</i>&nbsp;&nbsp;Principal</a-->
    <a class="mdl-navigation__link" href="{{ path('panelcliente_index') }}"><i class="material-icons mdl-navigation__item-icon">thumb_up</i>&nbsp;&nbsp;Clientes</a>
    <a class="mdl-navigation__link" href="{{ path('panelproducto_index') }}"><i class="material-icons mdl-navigation__item-icon">build</i>&nbsp;&nbsp;Servicios</a>
    <a class="mdl-navigation__link" href="{{ path('panelcotizacion_index') }}"><i class="material-icons mdl-navigation__item-icon">shopping_cart</i>&nbsp;&nbsp;Cotizaciones</a>
    <a class="mdl-navigation__link" href="{{ path('panelorden_index') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo</a>
    <a class="mdl-navigation__link" href="{{ path('panelorden_indexfact') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo (Con Factura)</a>
    <a class="mdl-navigation__link" href="{{ path('panelorden_indexesp') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo (Especiales)</a>
    <a class="mdl-navigation__link" href="{{ path('panelpago_index') }}"><i class="material-icons mdl-navigation__item-icon">attach_money</i>&nbsp;&nbsp;Pagos</a>
    <a class="mdl-navigation__link" href="{{ path('panelusuario_index') }}"><i class="material-icons mdl-navigation__item-icon">person</i>&nbsp;&nbsp;Usuarios</a>
</nav>