{% extends 'baseabc.html.twig' %}

{% block body %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

            <span class="mdl-layout-title">Cambiar Password</span>

            {{ form_start(form, {'attr': {'onsubmit': 'mostrarProgreso(true); return true;'}}   ) }}

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form_widget(form.password.first) }}
                        {{ form_label(form.password.first) }}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form_widget(form.password.second) }}
                        {{ form_label(form.password.second) }}

                    </div>
                </div>
            </div>

            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Cambiar</button>
                </div>
                <div class="mdl-cell mdl-cell--1-col">
                    <a href="{{ urlBack }}" class="mdl-button mdl-js-button mdl-button--raised" style="margin-left:1em">Cancelar</a>
                </div>
            </div>

            {{ form_end(form) }}

            <div>
                {{ form_errors(form.password.first) }}
                {{ form_errors(form.password.second) }}
            </div>

        </div>
    </div>

    <script>
        $('form input').addClass('mdl-textfield__input')
        $('form label').addClass('mdl-textfield__label')
    </script>

    <style>

    </style>

{% endblock %}
